.textarea {
    display: flex;
    flex-direction: column;
    width: 90%;
    box-sizing: border-box;
    margin: 0 auto;
    row-gap: 5px;
    font-size: x-small;
    color: grey;
}

textarea {
    resize: none;
    border-radius: 1%;
}

@media screen and (max-width: 600px) {
    .textarea {
        width: 80%
    }
}