
.submit {
    border-radius: 2%;
    /* background-color: rgb(186, 240, 186);*/
    background-color: #38d9a9;
}

.cancel {
    border-radius: 2%;
    background-color: rgb(240, 197, 186);
}

button:hover{
    box-shadow: 8px 10px 5px 2px rgba(0, 0, 255, .2);
    border-width: 2px;
    border-color: black;
}
